In [638]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [639]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [640]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [641]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [642]:
y = train_data["Survived"]
features = ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked']
x = train_data[features]

In [643]:
x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [644]:
import re
x['Age'] = x['Age'].fillna(x["Age"].mean())
x['CabinClass'] = x['Cabin'].fillna('M').apply(lambda x: str(x).replace(" ", "")).apply(lambda x: re.sub(r'[^a-zA-Z]', '', x))
x['CabinNumber'] = x['Cabin'].fillna('M').apply(lambda x: str(x).replace(" ", "")).apply(lambda x: re.sub(r'[^0-9]', '', x)).replace('', 0) 
x['Embarked'] = x['Embarked'].fillna('M')
x = x.drop(['PassengerId', 'Name', 'Ticket','Cabin'], axis=1)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7856\2209915552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Age'] = x['Age'].fillna(x["Age"].mean())

In [645]:
x

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinClass,CabinNumber
0,3,male,22.000000,1,0,7.2500,S,M,0
1,1,female,38.000000,1,0,71.2833,C,C,85
2,3,female,26.000000,0,0,7.9250,S,M,0
3,1,female,35.000000,1,0,53.1000,S,C,123
4,3,male,35.000000,0,0,8.0500,S,M,0
...,...,...,...,...,...,...,...,...,...
886,2,male,27.000000,0,0,13.0000,S,M,0
887,1,female,19.000000,0,0,30.0000,S,B,42
888,3,female,29.699118,1,2,23.4500,S,M,0
889,1,male,26.000000,0,0,30.0000,C,C,148
890,3,male,32.000000,0,0,7.7500,Q,M,0

In [646]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [647]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [648]:
x_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinClass,CabinNumber
331,1,male,45.500000,0,0,28.5000,S,C,124
733,2,male,23.000000,0,0,13.0000,S,M,0
382,3,male,32.000000,0,0,7.9250,S,M,0
704,3,male,26.000000,1,0,7.8542,S,M,0
813,3,female,6.000000,4,2,31.2750,S,M,0
...,...,...,...,...,...,...,...,...,...
106,3,female,21.000000,0,0,7.6500,S,M,0
270,1,male,29.699118,0,0,31.0000,S,M,0
860,3,male,41.000000,2,0,14.1083,S,M,0
435,1,female,14.000000,1,2,120.0000,S,BB,9698
102,1,male,21.000000,0,1,77.2875,S,D,26

In [649]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

categorical_pipeline = Pipeline([('OneHot', OneHotEncoder(handle_unknown='ignore'))])
transformer = ColumnTransformer([('cat', categorical_pipeline, ['Sex','Embarked','CabinClass'])], remainder="passthrough")

In [650]:
from xgboost import XGBClassifier
model = Pipeline([('Transformer',transformer), ('xgb', XGBClassifier())])

In [651]:
model.fit(x_train, y_train)

Pipeline(steps=[('Transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  Pipeline(steps=[('OneHot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Sex', 'Embarked',
                                                   'CabinClass'])])),
                ('xgb',
                 XGBClassifier(base_score=None, booster=None, callbacks=None,
                               colsample_bylevel=None, colsample_bynode=None,
                               colsample_bytree=None, device=None,
                               early_st...
                               feature_types=None, gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=None,
                               max_bin=None, max_cat_threshold=None,
                               max_cat_to_onehot=None, max_delta_step=None,
                               max_depth=None, max_leaves=None,
                               min_child_weight=None, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=None, n_jobs=None,
                               num_parallel_tree=None, random_state=None, ...))])

In [652]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1])

In [653]:
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

cm = confusion_matrix(y_test, y_pred)
print(cm)

0.7932960893854749
[[88 17]
 [20 54]]

In [654]:
import joblib
joblib.dump(model, 'ml_model.joblib')

['ml_model.joblib']

In [655]:
x_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinClass,CabinNumber
709,3,male,29.699118,1,1,15.2458,C,M,0
439,2,male,31.000000,0,0,10.5000,S,M,0
840,3,male,20.000000,0,0,7.9250,S,M,0
720,2,female,6.000000,0,1,33.0000,S,M,0
39,3,female,14.000000,1,0,11.2417,C,M,0
...,...,...,...,...,...,...,...,...,...
433,3,male,17.000000,0,0,7.1250,S,M,0
773,3,male,29.699118,0,0,7.2250,C,M,0
25,3,female,38.000000,1,5,31.3875,S,M,0
84,2,female,17.000000,0,0,10.5000,S,M,0
10,3,female,4.000000,1,1,16.7000,S,G,6

In [657]:
y_test

709    1
439    0
840    0
720    1
39     1
      ..
433    0
773    0
25     1
84     1
10     1
Name: Survived, Length: 179, dtype: int64